.gradle/
.gradle-user-home/
build/
run/

.classpath
.project
.settings/
.eclipse/
.vscode/
out/
bin/
*.iml

.mcreator/generatorGradleCache
.mcreator/modElementThumbnails/
.mcreator/userSettings
.mcreator/workspaceBackups/

hs_err_pid*
*.log
